* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  display: block;
  max-width: 100%;
  height: 100vh;
  opacity: 0.8;
  margin: auto;
}

.image__small {
  filter: blur(8px) grayscale(20%);
}

.image__large {
  transition: all 1.2s;
  filter: blur(0px);
}
